<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div>
  <nav>
    <div class="nav-wrapper grey">
      <a href="#" class="brand-logo">Oregon Metal Services</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="loginPage.html">Login</a></li>
        <li><a href="dashboard.html">Open items</a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </div>
  </nav> 
  <div class="wrapper"> 
  <div class="form">
  <div class="card white">
    <form action="#" th:action="@{/addItem}" method="post" th:object="${Item}">
      
      <select class="browser-default" th:field="*{type}">
        <option value="Back Haul">Back Haul </option>
        <option value="Pick Up">Pick up</option>
        <label><span class="black-text large">Type:</span></label>

      </select>
      
      <label><h5>Deliver to:</h5></label>
      
      <select class="browser-default" th:field="*{deliverTo}">
        <option value="Main">Main </option>
        <option value="Elo">Elo</option>
        
      </select>
      
      
      <span>Pick up from</span>
      <input type="text" th:field="*{pickUpFrom}">
      <h5>Status</h5>
      
       
      <select class="browser-default" th:field="*{status}">
        <option value="Open">Open </option>
        <option value="Scheduled">Scheduled</option>
        <option value="Complete">Complete</option>
        

      </select>

      
      <label><h5>Details/notes</h5></label>
      <textarea class="textarea" th:field="*{notes}"></textarea>
      
      <button class="send" type="submit" name="action">Submit
      </button>
    </form>
    </div>
</div>
<div class="form">
<div class="card white">
    <table class="centered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Deliver to</th>
          <th>Pick up from</th>
          <th>Status</th>
          <th>Details</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="i: ${items}">
          <td th:text="${i.type}"></td>
          <td th:text="${i.deliverTo}"></td>
          <td th:text="${i.pickUpFrom}"></td>
          <td th:text="${i.status}"></td>
          <td th:text="${i.notes}"> </td>
          <td th:text=""></td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
  </div>
</div>
</body>
</html>