<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html> 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="regWrapper">
    <nav>
      <div class="nav-wrapper blue lighten-1">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="loginPage.html">Login</a></li>
          <li><a href="dashboard.html">Open items</a></li>
          <li><a href="logout.html">Logout</a></li>
        </ul>
      </div>
    </nav>
  <div class="regForm">
    <div class="card-panel">
      <h3>Login</h3>
      <form action="#" th:action="@{/login}" method="post" th:object="${user}">
        <label for ="username">Username</label>
        <input type="text" th:field="*{username}"/>
        <label for="password">Password</label>
        <input type="password" th:field="*{password}"/>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">Login
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
  </div>
</body>
</html>