* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.wrapper {
  background-color: rgb(247, 245, 243);
  width: 100%;
  margin: auto;
}

.featured {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.featureimg {
  height: 100px;
  width: 100px;
}
.show {
  height: auto;
  width: 100px;
  margin: 20px;
}

.allplanners {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form {
  width: 90%;
  height: auto;
}

.loginreg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .loginreg {
    display: flex;
    flex-direction: column;
  }
}
.detailtop {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.detailimg {
  width: 40%;
  height: auto;
  margin-right: 30px;
  margin-left: 20px;
}

.display {
  display: flex;
  flex-direction: column;
  font-size: small;
  justify-content: center;
  align-items: center;
}

.detailcontainer {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  .detailcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detailimg{
    margin-bottom: 20px;
  }
}

.mobilenav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.compareimg {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.comparecontainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compareit {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .compareit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comparecontainer {
    width: 100%;
  }
}
